*{
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}
.box{
    width: 416px;
    height: 380px;
    margin: auto;
    margin-top: 90px;
    margin-left: 466px;
    border-radius: 8px;
    background: linear-gradient(145deg, #FFFFFF, #FFFFFF);
    box-shadow:  10px 10px 20px #F3F3F3,-10px -10px 20px #F3F3F3;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top:29px;
    margin-left: 35px;
}
p{
    position: absolute;
    margin-top:75px;
    margin-left: 35px;
}
#one{
    width: 352px;
    height: 52px;
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 5px;
    padding: 10px;
}
#two{
    width: 352px;
    height: 52px;
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 5px;
    padding: 10px;
}
h5{
    color: #559de6;
    position: absolute;
    margin-top: 195px;
    margin-left: 30px;
    font-weight: lighter;
    
    
}
a:link{
    text-decoration: none;
    
}
button a:visited{
    color: white;
}
h5 a:active{
    color:#559de6 ;
}
button{
    width: 352px;
    height: 50px;
    position: absolute;
    margin-top:220px;
    margin-left: 30px;
    color: white;
    border-radius: 30px;
    background-color: #1f7ddb;
    border: 0px;
}
img{
    width: 108px;
    height:30px;
    position: absolute;
    margin-top: -57px;
    margin-left: 475px;
    opacity: 0, 0, 0, -0.5;
    
}
button:hover{
    background-color: #004182;
}
button{
    cursor: pointer;
}
@media only screen and (max-width: 1060px){
    .box{
        margin: auto;
        padding: 15px;
        max-width: 100%;
    }
    #img{
        margin: auto;
        padding: 7px;
    }
    
}